<article class="shadow m-3 p-3">
  <h5>ІСТОРИЧНА ДОВІДКА</h5>

  <p>
    Державне підприємство "Волинський експертно-технічний центр
    Держгірпромнагляду України" надалі "Підприємство" засноване на державній
    власності Державним комітетом України з нагляду за охороною праці, наказ
    №217 від 29 грудня 1997р.
  </p>
  <p>
    Підприємство зареєстроване виконавчим комітетом Луцької міської ради
    Волинської області 13 березня 1998 року, номер запису про включення
    відомостей про юридичну особу до єдиного державного реєстру
    11981050009001002, ідефікаційний код №21750544.
  </p>
  <p>
    Підприємство створене з метою забезпечення науково-технічної підтримки
    державного нагляду за охороною праці та промисловою безпекою, проведення
    робіт і надання послуг юридичним особам, незалежно від форм власності, та
    фізичнимособам, на які не передбачено бюджетного фінансування. Предметом
    діяльності підприємства є державна експертнза на відповідність нормативно-
    правовим актам з охорони праці та промислової безпеки при пректуванні,
    будівництві, реконструкції, ремонті, експлуатації, виконанні монтажних і
    пусконалагоджувальних робіт на об'єктах виробничого та соціально-культурного
    призначення, інженерних інфраструктурах ( в тому числі на магістральних
    газопроводах і системах газопостачання високого та середнього тиску і споруд
    на них), експертиза проектної документації та інше. Окремі види діяльності
    підлягають ліцензуванню і здійснюються Підприємством на підставі отриманих
    ліцензій у відповідності з чинним законодавством. Статутний фонд становить
    334,6 тис. грн
  </p>
  <p>
    Юридична та фізична адреса: 43026 м.Луцьк, вул. Кравчука, 22в. Підприємство
    володіє адміністративним приміщенням загальною площею 782,5 кв.
  </p>
  <p>
    Свою діяльність державне підприємство “Волинський ЕТЦ” почало в 1994 році.
    На той час перші працівники працювали у Львівській госпрозрахунковій
    експертно-технічній інспекції, котра в жовтні того ж року була перейменована
    в Експертно-технічний центр Західного територіального управління.
  </p>
  <p>
    У грудні 1994 року було створено Волинську філію у складі Західного
    експертно-технічного центру. І саме цей час можна вважати початком та
    розвитком діяльності ЕТЦ у Волинській області. Зі створенням філії було
    призначено її начальника - Ткачука Зіновія Васильовича. Поступово почав
    формуватися колектив.
  </p>
  <p>
    В лютому 1996 року на посаду начальника Волинської філії "Західного
    експертно-технічного центру" було призначено Міцуру Михайла Юрійовича. А в
    1997 році Волинську філію було реорганізовано в ДП "Волинський
    експертно-технічний центр".
  </p>
  <p>
    В 2011 році підприємство очолив Сидоренко Віктор Федорович, а з 2015 року
    директором призначено Міцевського Андрія Петровича.
  </p>
  <p>
    Наш персонал — це висококваліфіковані експерти технічні з охорони праці та
    промислової безпеки, що пройшли навчання та постійно підвищують свій
    технічний рівень. Вони здатні прикласти свої знання й уміння для рішення
    проблем у галузі якості, охорони праці та промислової безпеки.
  </p>
  <p>
    ДП «Волинський ЕТЦ» та його структурні підрозділи укомплектовані
    кваліфікованим інженерно-технічним персоналом, а також відповідними
    фахівцями, що підтверджено відповідними сертифікатами і посвідченнями
    державних зразків.
  </p>
  <p>
    Висновки експертизи опрацьовані і видані ДП «Волинський ЕТЦ», є надійною
    підставою для відповідних приймальних комісій за участі в їх роботі
    повноважних представників органів Держпраці України під час приймальних
    випробувань нових зразків машин, механізмів чи інших засобів виробництва,
    технічного переоснащення промислових об'єктів чи інженерної інфраструктури
    об'єктів соціально-культурного призначення.
  </p>
  <p>
    Державне підприємство «Волинський експертно-технічний центр Держпраці» —
    підприємство, яке у своїй діяльності використовує принципи забезпечення
    якості і створення безпечних умов праці відповідно до вимог діючих
    національних і міжнародних нормативно-правових та нормативних документів.
  </p>
  <p>
    Основною метою нашого підприємства є орієнтація на якість послуг, що
    надаються, постійне сприяння підвищенню рівня стану охорони здоров’я
    працюючих та промислової безпеки, щоб на підставі довіри, незалежного
    підходу і взаємної поваги зробити наших споживачів нашими постійними
    партнерами.
  </p>
</article>
