<article class="shadow m-3 p-3">
  <b class="text-left">ГРАФІК РОБОТИ ПІДПРИЄМСТВА</b>
  <div class="row">
    <div class="scedule col-md-3" style="flex-direction: column;">
      <table class="table">
        <tbody>
          <tr>
            <td>понеділок - четвер</td>
            <td>8:00 - 17:00</td>
          </tr>
          <tr>
            <td>п'ятниця</td>
            <td>8:00 - 16:00</td>
          </tr>
          <tr class="text-danger">
            <td>обідня перерва</td>
            <td>13:00 - 13:45</td>
          </tr>
          <tr class="text-danger">
            <td>субота - неділя</td>
            <td>вихідний</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-md-3">
      <b> тел. моб.</b>
      <ul>
        <li>+380 (50) 374 80 50</li>
        <li>+380 (67) 533 73 77</li>
      </ul>
    </div>
    <div class="col-md-3">
      <b> тел. стаціонар. (0332)</b>
      <ul>
        <li>71-84-88</li>
        <li>71-14-21</li>
        <li>78-81-99</li>
        <li>78-03-72</li>
      </ul>
    </div>
    <div class="col-md-3">
      <b> E-mail:</b>
      <ul>
        <li>22vetc@gmail.com</li>
      </ul>
    </div>
  </div>
  <div class="text-right">
    <p>
      28-49-69 - Санітарна лабораторія з атестації робочих місць щодо умов праці
    </p>
    <p>
      тел. (0332) 71-84-88; "Гаряча телефонна лінія" з питань обліку даних з
      охорони праці
    </p>
  </div>
</article>
