<article class="row shadow d-flex m-3 p-3">
  <div class="row">
    <div class="col-sm-4">
      <img
        class="img-fluid"
        src="https://nazk.gov.ua/wp-content/themes/nazktheme/assets/images/logo.svg"
        alt=""
      />
    </div>
    <div class="col-sm-8">
      <h5 class="h-100 d-flex align-items-center">
        <a href="https://nazk.gov.ua/uk/"
          >НАЦІОНАЛЬНЕ АГЕНТСТВО З ПИТАНЬ ЗАПОБІГАННЯ КОРУПЦІЇ</a
        >
      </h5>
    </div>
  </div>
</article>

<article class="shadow m-3 p-3">
  <h5>
    РЕГІОНАЛЬНИЙ ТЕЛЕФОН ДОВІРИ
  </h5>
  <p>
    заступник директора ДП “Волинський ЕТЦ” Самарук Наталія Олександрівна
  </p>
  <p>
    м. Луцьк, тел. (0332) 78-81-99
  </p>
  <p>
    Електронна адреса: 22vetc@gmail.com
  </p>
</article>

<article class="shadow m-3 p-3">
  <h5>
    ЗАПОБІГАННЯ ПРОЯВАМ КОРУПЦІЇ
  </h5>
  <p>
    <a href="corruption-link-1">
      Витяг із Закону України “Про запобігання корупції” №1700-VII від
      14.10.2014 року
    </a>
  </p>
  <p>
    <a href="corruption-link-2">
      Витяг із Закону України “Про державну службу”
    </a>
  </p>
  <p>
    <a href="public/docs/Методичні рекомендації.pdf">
      Методичні рекомендації з питань запобігання та врегулювання конфлікту
      інтересів у діяльності осіб, уповноважених на виконання функцій держави
      або місцевого самоврядування, та прирівняних до них осіб.
    </a>
  </p>
  <p>
    <a href="corruption-link-4">
      Конфлікт інтересів
    </a>
  </p>
</article>
