<article class="shadow m-3 p-3">
  <h5>
    Витяг із Закону України “Про засади запобігання і протидії корупції“
  </h5>

  <p>Стаття 3. Суб’єкти, на яких поширюється дія цього Закону</p>
  <p>1. Суб’єктами, на яких поширюються дія цього Закону, є:</p>
  <p>
    1) особи, уповноважені на виконання функцій держави або місцевого
    самоврядування:
  </p>
  <p>
    а) Президент України, Голова Верховної Ради України, його Перший заступник
    та заступник, Прем’єр-міністр України, Перший віце-прем’єр-міністр України,
    віце-прем’єр-міністри України, міністри, інші керівники центральних органів
    виконавчої влади, які не входять до складу Кабінету Міністрів України, та їх
    заступники, Голова Служби безпеки України, Генеральний прокурор, Голова
    Національного банку України, Голова та інші члени Рахункової палати,
    Уповноважений Верховної Ради України з прав людини, Голова Верховної Ради
    Автономної Республіки Крим, Голова Ради міністрів Автономної Республіки
    Крим;
  </p>
  <p>
    {Підпункт "а" пункту 1 частини першої статті 3 із змінами, внесеними згідно
    із Законами № 576-VIII від 02.07.2015, № 1798-VIII від 21.12.2016}
  </p>
  <p>
    б) народні депутати України, депутати Верховної Ради Автономної Республіки
    Крим, депутати місцевих рад, сільські, селищні, міські голови;
  </p>
  <p>в) державні службовці, посадові особи місцевого самоврядування;</p>
  <p>
    г) військові посадові особи Збройних Сил України, Державної служби
    спеціального зв’язку та захисту інформації України та інших утворених
    відповідно до законів військових формувань, крім військовослужбовців
    строкової військової служби, курсантів вищих військових навчальних закладів,
    курсантів вищих навчальних закладів, які мають у своєму складі військові
    інститути, курсантів факультетів, кафедр та відділень військової підготовки;
  </p>
  <p>
    {Підпункт "г" пункту 1 частини першої статті 3 із змінами, внесеними згідно
    із Законами № 198-VIII від 12.02.2015, № 1975-VIII від 23.03.2017}
  </p>
  <p>
    ґ) судді, судді Конституційного Суду України, Голова, заступник Голови,
    члени, інспектори Вищої ради правосуддя, посадові особи секретаріату Вищої
    ради правосуддя, Голова, заступник Голови, члени, інспектори Вищої
    кваліфікаційної комісії суддів України, посадові особи секретаріату цієї
    Комісії, посадові особи Державної судової адміністрації України, присяжні
    (під час виконання ними обов’язків у суді);
  </p>
  <p>
    {Підпункт "ґ" пункту 1 частини першої статті 3 в редакції Закону № 1798-VIII
    від 21.12.2016}
  </p>
  <p>
    д) особи рядового і начальницького складу державної кримінально-виконавчої
    служби, податкової міліції, особи начальницького складу органів та
    підрозділів цивільного захисту, Державного бюро розслідувань, Національного
    антикорупційного бюро України;
  </p>
  <p>
    {Підпункт "д" пункту 1 частини першої статті 3 із змінами, внесеними згідно
    із Законами № 198-VIII від 12.02.2015, № 597-VIII від 14.07.2015, № 766-VIII
    від 10.11.2015, № 794-VIII від 12.11.2015}
  </p>
  <p>
    е) посадові та службові особи органів прокуратури, Служби безпеки України,
    Державного бюро розслідувань, Національного антикорупційного бюро України,
    дипломатичної служби, державної лісової охорони, державної охорони
    природно-заповідного фонду, центрального органу виконавчої влади, що
    забезпечує формування та реалізацію державної податкової політики та
    державної політики у сфері державної митної справи;
  </p>
  <p>
    {Підпункт "е" пункту 1 частини першої статті 3 із змінами, внесеними згідно
    із Законом № 794-VIII від 12.11.2015}
  </p>
  <p>є) члени Національного агентства з питань запобігання корупції;</p>
  <p>ж) члени Центральної виборчої комісії;</p>
  <p>з) поліцейські;</p>
  <p>
    {Пункт 1 частини першої статті 3 доповнено новим підпунктом "з" згідно із
    Законом № 766-VIII від 10.11.2015}
  </p>
  <p>
    и) посадові та службові особи інших державних органів, органів влади
    Автономної Республіки Крим;
  </p>
  <p>і) члени державних колегіальних органів;</p>
  <p>
    {Пункт 1 частини першої статті 3 доповнено підпунктом "і" згідно із Законом
    № 1540-VIII від 22.09.2016}
  </p>
  <p>
    2) особи, які для цілей цього Закону прирівнюються до осіб, уповноважених на
    виконання функцій держави або місцевого самоврядування:
  </p>
  <p>
    а) посадові особи юридичних осіб публічного права, які не зазначені у пункті
    1 частини першої цієї статті, особи, які входять до складу наглядової ради
    державного банку, державного підприємства або державної організації, що має
    на меті одержання прибутку;
  </p>
  <p>
    {Підпункт "а" пункту 2 частини першої статті 3 із змінами, внесеними згідно
    із Законом № 1975-VIII від 23.03.2017}
  </p>
  <p>
    б) особи, які не є державними службовцями, посадовими особами місцевого
    самоврядування, але надають публічні послуги (аудитори, нотаріуси, приватні
    виконавці, оцінювачі, а також експерти, арбітражні керуючі, незалежні
    посередники, члени трудового арбітражу, третейські судді під час виконання
    ними цих функцій, інші особи, визначені законом);
  </p>
  <p>
    {Підпункт "б" пункту 2 частини першої статті 3 із змінами, внесеними згідно
    із Законом № 1403-VIII від 02.06.2016}
  </p>
  <p>
    в) представники громадських об’єднань, наукових установ, навчальних
    закладів, експертів відповідної кваліфікації, інші особи, які входять до
    складу конкурсних комісій, утворених відповідно до Закону України "Про
    державну службу", Закону України "Про службу в органах місцевого
    самоврядування", Громадської ради доброчесності, утвореної відповідно до
    Закону України "Про судоустрій і статус суддів", громадських рад, рад
    громадського контролю, що утворені при державних органах та беруть участь у
    підготовці рішень з кадрових питань, підготовці, моніторингу, оцінці
    виконання антикорупційних програм, і при цьому не є особами, зазначеними у
    пункті 1, підпункті "а" пункту 2 частини першої цієї статті;
  </p>
  <p>
    {Пункт 2 частини першої статті 3 доповнено підпунктом "в" згідно із Законом
    № 889-VIII від 10.12.2015; із змінами, внесеними згідно із Законом №
    1975-VIII від 23.03.2017}
  </p>
  <p>
    3) особи, які постійно або тимчасово обіймають посади, пов’язані з
    виконанням організаційно-розпорядчих чи адміністративно-господарських
    обов’язків, або спеціально уповноважені на виконання таких обов’язків у
    юридичних особах приватного права незалежно від організаційно-правової
    форми, а також інші особи, які не є службовими особами та які виконують
    роботу або надають послуги відповідно до договору з підприємством,
    установою, організацією, - у випадках, передбачених цим Законом;
  </p>
  <p>
    {Пункт 3 частини першої статті 3 із змінами, внесеними згідно із Законом №
    198-VIII від 12.02.2015}
  </p>
  <p>
    4) кандидати у народні депутати України, зареєстровані у порядку,
    встановленому Законом України "Про вибори народних депутатів України",
    кандидати на пост Президента України, зареєстровані у порядку, встановленому
    Законом України "Про вибори Президента України", кандидати в депутати
    Верховної Ради Автономної Республіки Крим, обласних, районних, міських,
    районних у містах, сільських, селищних рад, кандидати на посади сільських,
    селищних, міських голів та старост;
  </p>
  <p>
    {Частину першу статті 3 доповнено пунктом 4 згідно із Законом № 1975-VIII
    від 23.03.2017}
  </p>
  <p>5) фізичні особи, які:</p>
  <p>
    отримують кошти, майно в рамках реалізації в Україні програм (проектів)
    технічної або іншої, в тому числі безповоротної, допомоги у сфері
    запобігання, протидії корупції (як безпосередньо, так і через третіх осіб
    або будь-яким іншим способом, передбаченим відповідною програмою (проектом);
    систематично, протягом року, виконують роботи, надають послуги щодо
    імплементації стандартів у сфері антикорупційної політики, моніторингу
    антикорупційної політики в Україні, підготовки пропозицій з питань
    формування, реалізації такої політики, - якщо фінансування (оплата) таких
    робіт, послуг здійснюється безпосередньо або через третіх осіб за рахунок
    технічної або іншої, в тому числі безповоротної, допомоги у сфері
    запобігання, протидії корупції; є керівниками або входять до складу вищого
    органу управління, інших органів управління громадських об’єднань, інших
    непідприємницьких товариств, що здійснюють діяльність, пов’язану із
    запобіганням, протидією корупції, імплементацією стандартів у сфері
    антикорупційної політики, моніторингом антикорупційної політики в Україні,
    підготовкою пропозицій з питань формування, реалізації такої політики,
    та/або беруть участь, залучаються до здійснення заходів, пов’язаних із
    запобіганням, протидією корупції.
  </p>
  <p>
    {Частину першу статті 3 доповнено пунктом 5 згідно із Законом № 1975-VIII
    від 23.03.2017} Примітка. Особи, визначені в підпункті "г" частини першої
    пункту 1 цієї статті, звільняються від обов’язку подання декларації за умови
    неперебування на інших посадах, визначених у пункті 1, підпункті "а" пункту
    2 частини першої статті 3 цього Закону.
  </p>
  <p>
    {Статтю 3 доповнено приміткою згідно із Законом № 1975-VIII від 23.03.2017}
  </p>
</article>
