<article class="shadow m-3 p-3">
  <h5>ПОНЯТТЯ КОНФЛІКТУ ІНТЕРЕСІВ</h5>
  <p>
    Конфлікт інтересів - це ситуація, при якій службова особа виконуючи свої
    обов'язки має приватний інтерес (особисту заінтересованість), який хоча і не
    обов'язково призводить до прийняття неправомірного рішення або вчинення
    неправомірного діяння але здатний до цього призвести.
  </p>
  <p>
    Приватний інтерес - будь-який майновий чи немайновий інтерес особи, у тому
    числі зумовлений особистими, сімейними, дружніми чи іншими позаслужбовими
    стосунками з фізичними чи юридичними особами, у тому числі ті, що виникають
    у зв’язку з членством або діяльністю в громадських, політичних, релігійних
    чи інших організаціях.
  </p>
</article>

<article class="shadow m-3 p-3">
  <h5>ВИДИ КОНФЛІКТУ ІНТЕРЕСІВ</h5>
  <table class="table">
    <tbody>
      <tr>
        <th>Реальний</th>
        <th>Потенційний</th>
      </tr>
      <tr>
        <td>
          суперечність між приватним інтересом особи та її службовими чи
          представницькими повноваженнями, що впливає на об’єктивність або
          неупередженість прийняття рішень, або на вчинення чи невчинення дій
          під час виконання зазначених повноважень.
        </td>
        <td>
          наявність у особи приватного інтересу у сфері, в якій вона виконує
          свої службові чи представницькі повноваження, що може вплинути на
          об’єктивність чи неупередженість прийняття нею рішень, або на вчинення
          чи невчинення дій під час виконання зазначених повноважень.
        </td>
      </tr>
    </tbody>
  </table>
</article>

<article class="shadow m-3 p-3">
  <h5>СПОСОБИ ВРЕГУЛЮВАННЯ КОНФЛІКТУ ІНТЕРЕСІВ ПОСАДОВИМИ ОСОБАМИ</h5>
  <table class="table">
    <tbody>
      <tr>
        <td>Перегляд обсягу повноважень</td>
        <td>Усунення від вчинення дій (обов'язків)</td>
        <td>Обмеження доступу до інформації</td>
        <td>Переведення на іншу посаду</td>
        <td>Застосування зовнішнього контролю (керівник, НАЗК)</td>
        <td>Звільнення</td>
      </tr>
    </tbody>
  </table>
</article>

<article class="shadow m-3 p-3">
  <h5>
    ВІДПОВІДАЛЬНІСТЬ ЗА ПОРУШЕННЯ ЗАКОНОДАВСТВА, ПОВ'ЯЗАНОГО З КОНФЛІКТОМ
    ІНТЕРЕСІВ
  </h5>
  <table class="table">
    <tbody>
      <tr>
        <th>Дисциплінарна</th>
        <th>Цивільно-правова</th>
        <th>Адміністративна</th>
      </tr>
      <tr>
        <td>відповідно до ст.65 ЗУ “Про запобігання корупції”</td>
        <td>Відповідно до положень Цивільного кодексу України</td>
        <td>Відповідно до ст. 172-7 КУпАП</td>
      </tr>
    </tbody>
  </table>
</article>

<article class="shadow m-3 p-3">
  <h5>
    АЛГОРИТМ ДІЙ ПОСАДОВОЇ ОСОБИ ПРИ КОНФЛІКТІ ІНТЕРЕСІВ
  </h5>
  <table class="table">
    <tbody>
      <tr>
        <td>
          Повідомити безпосереднього керівника або НАЗК про конфлікт інтересів
        </td>
        <td>
          Не вчиняти дій та не приймати рушень в умовах конфлікту інтересів
        </td>
        <td>
          Вжити заходів щодо врегулювання конфлікту інтересів самостійно або за
          рекомендацією НАЗК
        </td>
      </tr>
    </tbody>
  </table>
</article>
