<article class="shadow m-3 p-3">
  <h5>
    СТАТТЯ 32. ОБМЕЖЕННЯ ЩОДО ПРИЗНАЧЕННЯ НА ПОСАДУ
  </h5>
  <p>
    1. Не допускається призначення на посаду державної служби особи, яка буде
    прямо підпорядкована близькій особі або якій будуть прямо підпорядковані
    близькі особи.
  </p>
  <p>
    2. У разі виникнення обставин, що призводять до порушення вимог частини
    першої цієї статті, відповідні особи, близькі їм особи зобов’язані
    повідомити про це керівника державної служби та вжити заходів до усунення
    таких обставин у 15-денний строк.
  </p>
  <p>
    Якщо в зазначений строк такі обставини добровільно не усунуто, керівник
    державної служби повинен вжити у місячний строк заходів до їх усунення. Для
    цього керівник державної служби може перевести державного службовця за його
    згодою на іншу рівнозначну вакантну посаду державної служби в цьому
    державному органі або дати згоду на переведення до іншого державного органу.
    У такому разі переведення державного службовця здійснюється без
    обов’язкового проведення конкурсу. У разі неможливості переведення особа,
    яка перебуває у підпорядкуванні, підлягає звільненню із займаної посади.
  </p>
  <p>
    3. У разі порушення вимоги, зазначеної в абзаці другому частини другої цієї
    статті, керівник державної служби несе відповідальність, встановлену
    законом.
  </p>
  <p>
    4. Особи, які не повідомили керівника державної служби про обставини,
    зазначені у частині першій цієї статті, несуть відповідальність, встановлену
    законом.
  </p>
  <p>
    5. На державних службовців поширюються обмеження, передбачені Законом
    України "Про запобігання корупції".
  </p>
</article>

<article class="shadow m-3 p-3">
  <h5>
    СТАТТЯ 83. ПІДСТАВИ ДЛЯ ПРИПИНЕННЯ ДЕРЖАВНОЇ СЛУЖБИ
  </h5>
  <p>1. Державна служба припиняється:</p>
  <p>
    1) у разі втрати права на державну службу або його обмеження (стаття 84
    цього Закону);
  </p>
  <p>
    2) у разі закінчення строку призначення на посаду державної служби (стаття
    85 цього Закону);
  </p>
  <p>
    3) за ініціативою державного службовця або за угодою сторін (стаття 86 цього
    Закону);
  </p>
  <p>4) за ініціативою суб’єкта призначення (стаття 87 цього Закону);</p>
  <p>
    5) у разі настання обставин, що склалися незалежно від волі сторін (стаття
    88 цього Закону);
  </p>
  <p>
    6) у разі незгоди державного службовця на проходження державної служби у
    зв’язку із зміною її істотних умов (стаття 43 цього Закону);
  </p>
  <p>
    7) у разі досягнення державним службовцем 65-річного віку, якщо інше не
    передбачено законом;
  </p>
  <p>
    8) у разі застосування заборони, передбаченої Законом України "Про очищення
    влади".
  </p>
  <p>
    2. Зміна керівників або складу державних органів, керівників державної
    служби в державних органах та безпосередніх керівників не може бути
    підставою для припинення державним службовцем державної служби на займаній
    посаді з ініціативи новопризначених керівників.
  </p>
</article>
