<article class="shadow m-3 p-3">
  <h5>ВІДДІЛ НАВЧАННЯ</h5>

  <p>
    Відділ навчання ДП “Волинський ЕТЦ” проводить навчання та перевірку знань
    посадових осіб (керівників підприємств і установ та їх заступників, фахівців
    тощо) суб’єктів господарювання із загальних питань охорони праці та
    нормативно-правових актів:
  </p>
  <ul>
    <li>
      загальні питання з охорони праці, пожежної безпеки, електробезпеки,
      гігієни праці та виробничої санітарії, надання першої допомоги потерпілому
      в разі нещасного випадку;
    </li>
    <li>
      правила безпечної експлуатації електроустановок споживачів, правила
      технічної експлуатації електроустановок споживачів, правила улаштування
      електроустановок;
    </li>
    <li>правила будови і безпечної експлуатації ліфтів;</li>
    <li>
      охорона праці під час експлуатації обладнання, що працює під тиском;
    </li>
    <li>
      охорона праці під час експлуатації вантажопідіймальних кранів,
      підіймальних пристроїв і відповідного обладнання;
    </li>
    <li>правила будови та безпечної експлуатації підйомників;</li>
    <li>правила будови і безпечної експлуатації атракціонної техніки;</li>
    <li>правила охорони праці під час виконання робіт на висоті;</li>
    <li>правила будови і безпечної експлуатації навантажувачів;</li>
    <li>правила безпеки систем газопостачання;</li>
    <li>правила технічної експлуатації теплових установок і мереж;</li>
    <li>
      правила охорони праці під час розробки родовищ корисних копалин відкритим
      способом.
    </li>
  </ul>

  <p>
    Викладачі, які залучаються для проведення навчання, мають повну вищу освіту
    за відповідним напрямом, стаж роботи за відповідною спеціальністю не менше
    як 3 роки і пройшли навчання та перевірку знань в Головному
    навчально-методичному центрі (м.Київ) або в профільних навчальних центрах
  </p>
  <p>
    Для зручності Замовників навчання може організовуватися на виробництві з
    застосуванням гнучкого графіку занять.
  </p>
  <p>43026, м. Луцьк, вул. Кравчука, 22В</p>
  <p>тел. (0332) 71-76-79; 71-84-88; 71-14-21; 78-81-99; 78-03-72</p>
  <p>E-mail: vetc@meta.ua</p>
</article>
