<article class="shadow m-3 p-3">
  <h5>ВІДДІЛ ЕКСПЕРТИЗИ</h5>
  <ul>
    <li>
      Експертне обстеження підприємств, установ та організацій та інших
      суб'єктів господарювання щодо додержання вимог законодавства з питань
      охорони праці та промислової безпеки під час виконання робіт підвищеної
      небезпеки та експлуатації (застосування) машин, механізмів, устатковання
      підвищеної небезпеки.
    </li>
    <li>
      Технічний огляд, випробування, експертне обстеження (технічне
      діагностування) машин, механізмів, устатковання підвищеної небезпеки.
    </li>
    <li>
      Державний технічний огляд технологічних транспортних засобів.
    </li>
    <li>
      Проведення електровимірювальних робіт та робіт з технічного опосвідчення
      та/або експертного обстеження електрообладнання.
    </li>
    <li>
      Складання паспортів на обладнання підвищеної небезпеки.
    </li>
    <li>
      Виконання робіт щодо ідентифікації, розробки та експертизи проектів
      декларацій об'єктів підвищеної небезпеки.
    </li>
    <li>
      Технічна експертиза стану машин, механізмів, устатковання у тому числі
      тих, що закуповують за кордоном на відповідність нормативним актам з
      охорони праці.
    </li>
    <li>
      Обстеження технічного стану будівель і споруд та їх паспортизація.
    </li>
    <li>
      Розробка документів та документальний супровід оформлення декларації
      відповідності матеріально-технічної бази вимогам законодавства з питань
      охорони праці.
    </li>
    <li>
      Аудит стану охорони праці.
    </li>
  </ul>
  <p>В.о. керівника відділу Козак Олександр Тимофійович</p>
  <p>43026, м. Луцьк, вул. Кравчука, 22В</p>
  <p>тел. (0332) 78-81-99; 78-03-72</p>
  <p>E-mail: vetc@meta.ua</p>
</article>
