<article class="shadow m-3 p-3">
  <h5>ФІНАНСОВА ЗВІТНІСТЬ</h5>
</article>

<!-- <article class="shadow m-3 p-3">
  <h5>за 2020 рік:</h5>
  <p>
    <a href="docs/finances/2020/S0100113_r.pdf"
      >S0100112 Ф1. Баланс.pdf</a
    >
  </p>
  <p>
    <a href="docs/finances/2020/S0100213_r.pdf"
      >S0100212 Ф2. Звіт про фінансові результати (в тисячах).pdf</a
    >
  </p>
</article>
<article class="shadow m-3 p-3">
  <h5>за IIІ квартал 2020 року:</h5>
  <p>
    <a href="docs/finances/2020/S0100113_3kv.pdf"
      >S0100112 Ф1. Баланс.pdf</a
    >
  </p>
  <p>
    <a href="docs/finances/2020/S0100213_3kv.pdf"
      >S0100212 Ф2. Звіт про фінансові результати (в тисячах).pdf</a
    >
  </p>
</article> -->
<article class="shadow m-3 p-3">
  <h5>за І півріччя 2020 року:</h5>
  <p>
    <a href="docs/finances/2020/S0100113_1p.pdf"
      >S0100112 Ф1. Баланс.pdf</a
    >
  </p>
  <p>
    <a href="docs/finances/2020/S0100213_1p.pdf"
      >S0100212 Ф2. Звіт про фінансові результати (в тисячах).pdf</a
    >
  </p>
</article>
<article class="shadow m-3 p-3">
  <h5>за І квартал 2020 року:</h5>
  <p>
    <a href="docs/finances/2020/S0100113.pdf"
      >S0100112 Ф1. Баланс.pdf</a
    >
  </p>
  <p>
    <a href="docs/finances/2020/S0100213.pdf"
      >S0100212 Ф2. Звіт про фінансові результати (в тисячах).pdf</a
    >
  </p>
</article>

<article class="shadow m-3 p-3">
  <h5>за 2019 рік:</h5>
  <p>
    <a href="docs/finances/2019/S0100113_r.pdf"
      >S0100112 Ф1. Баланс.pdf</a
    >
  </p>
  <p>
    <a href="docs/finances/2019/S0100213_r.pdf"
      >S0100212 Ф2. Звіт про фінансові результати (в тисячах).pdf</a
    >
  </p>
</article>
<article class="shadow m-3 p-3">
  <h5>за IIІ квартал 2019 року:</h5>
  <p>
    <a href="docs/finances/2019/S0100113_3kv.pdf"
      >S0100112 Ф1. Баланс.pdf</a
    >
  </p>
  <p>
    <a href="docs/finances/2019/S0100213_3kv.pdf"
      >S0100212 Ф2. Звіт про фінансові результати (в тисячах).pdf</a
    >
  </p>
</article>
<article class="shadow m-3 p-3">
  <h5>за І півріччя 2019 року:</h5>
  <p>
    <a href="docs/finances/2019/S0100113_1p.pdf"
      >S0100112 Ф1. Баланс.pdf</a
    >
  </p>
  <p>
    <a href="docs/finances/2019/S0100213_1p.pdf"
      >S0100212 Ф2. Звіт про фінансові результати (в тисячах).pdf</a
    >
  </p>
</article>
<article class="shadow m-3 p-3">
  <h5>за І квартал 2019 року:</h5>
  <p>
    <a href="docs/finances/2019/S0100113.pdf"
      >S0100112 Ф1. Баланс.pdf</a
    >
  </p>
  <p>
    <a href="docs/finances/2019/S0100213.pdf"
      >S0100212 Ф2. Звіт про фінансові результати (в тисячах).pdf</a
    >
  </p>
</article>
<article class="shadow m-3 p-3">
  <h5>за 2018 рік:</h5>
  <p>
    <a href="docs/finances/2018/S0100113_r.pdf"
      >S0100112 Ф1. Баланс.pdf</a
    >
  </p>
  <p>
    <a href="docs/finances/2018/S0100213_r.pdf"
      >S0100212 Ф2. Звіт про фінансові результати (в тисячах).pdf</a
    >
  </p>
</article>
<article class="shadow m-3 p-3">
  <h5>за IIІ квартал 2018 року:</h5>
  <p>
    <a href="docs/finances/2018/S0100113_3kv.pdf"
      >S0100112 Ф1. Баланс.pdf</a
    >
  </p>
  <p>
    <a href="docs/finances/2018/S0100213_3kv.pdf"
      >S0100212 Ф2. Звіт про фінансові результати (в тисячах).pdf</a
    >
  </p>
</article>
<article class="shadow m-3 p-3">
  <h5>за І півріччя 2018 року:</h5>
  <p>
    <a href="docs/finances/2018/S0100113_1p.pdf"
      >S0100112 Ф1. Баланс.pdf</a
    >
  </p>
  <p>
    <a href="docs/finances/2018/S0100213_1p.pdf"
      >S0100212 Ф2. Звіт про фінансові результати (в тисячах).pdf</a
    >
  </p>
</article>
<article class="shadow m-3 p-3">
  <h5>за І квартал 2018 року:</h5>
  <p>
    <a href="docs/finances/2018/S0100113.pdf"
      >S0100112 Ф1. Баланс.pdf</a
    >
  </p>
  <p>
    <a href="docs/finances/2018/S0100213.pdf"
      >S0100212 Ф2. Звіт про фінансові результати (в тисячах).pdf</a
    >
  </p>
</article>
<article class="shadow m-3 p-3">
  <h5>за 2017 рік:</h5>
  <p>
    <a href="docs/finances/2017/SS100113_r.pdf"
      >S0100112 Ф1. Баланс.pdf</a
    >
  </p>
  <p>
    <a href="docs/finances/2017/SS100213_r.pdf"
      >S0100212 Ф2. Звіт про фінансові результати (в тисячах).pdf</a
    >
  </p>
</article>
<article class="shadow m-3 p-3">
  <h5>за IIІ квартал 2017 року:</h5>
  <p>
    <a href="docs/finances/2017/S0100113_3kv.pdf"
      >S0100112 Ф1. Баланс.pdf</a
    >
  </p>
  <p>
    <a href="docs/finances/2017/S0100213_3kv.pdf"
      >S0100212 Ф2. Звіт про фінансові результати (в тисячах).pdf</a
    >
  </p>
</article>
<article class="shadow m-3 p-3">
  <h5>за І півріччя 2017 року:</h5>
  <p>
    <a href="docs/finances/2017/S0100113_1p.pdf"
      >S0100112 Ф1. Баланс.pdf</a
    >
  </p>
  <p>
    <a href="docs/finances/2017/S0100213_1p.pdf"
      >S0100212 Ф2. Звіт про фінансові результати (в тисячах).pdf</a
    >
  </p>
</article>
<article class="shadow m-3 p-3">
  <h5>за І квартал 2017 року:</h5>
  <p>
    <a href="docs/finances/2017/S0100113.pdf"
      >S0100112 Ф1. Баланс.pdf</a
    >
  </p>
  <p>
    <a href="docs/finances/2017/S0100213.pdf"
      >S0100212 Ф2. Звіт про фінансові результати (в тисячах).pdf</a
    >
  </p>
</article>
<article class="shadow m-3 p-3">
  <h5>за 2016 рік:</h5>
  <p>
    <a href="docs/finances/2016/S0100113_r.pdf"
      >S0100112 Ф1. Баланс.pdf</a
    >
  </p>
  <p>
    <a href="docs/finances/2016/S0100213_r.pdf"
      >S0100212 Ф2. Звіт про фінансові результати (в тисячах).pdf</a
    >
  </p>
</article>
<article class="shadow m-3 p-3">
  <h5>за IIІ квартал 2016 року:</h5>
  <p>
    <a href="docs/finances/2016/S0100113_3kv.pdf"
      >S0100112 Ф1. Баланс.pdf</a
    >
  </p>
  <p>
    <a href="docs/finances/2016/S0100213_3kv.pdf"
      >S0100212 Ф2. Звіт про фінансові результати (в тисячах).pdf</a
    >
  </p>
</article>
<article class="shadow m-3 p-3">
  <h5>за І півріччя 2016 року:</h5>
  <p>
    <a href="docs/finances/2016/S0100113_1p.pdf"
      >S0100112 Ф1. Баланс.pdf</a
    >
  </p>
  <p>
    <a href="docs/finances/2016/S0100213_1p.pdf"
      >S0100212 Ф2. Звіт про фінансові результати (в тисячах).pdf</a
    >
  </p>
</article>
<article class="shadow m-3 p-3">
  <h5>за І квартал 2016 року:</h5>
  <p>
    <a href="docs/finances/2016/S0100113.pdf"
      >S0100112 Ф1. Баланс.pdf</a
    >
  </p>
  <p>
    <a href="docs/finances/2016/S0100213.pdf"
      >S0100212 Ф2. Звіт про фінансові результати (в тисячах).pdf</a
    >
  </p>
</article>
<article class="shadow m-3 p-3">
  <h5>за 2015 року:</h5>
  <p>
    <a href="docs/finances/2015/S0100112_r.pdf"
      >S0100112 Ф1. Баланс.pdf</a
    >
  </p>
  <p>
    <a href="docs/finances/2015/S0100212_r.pdf"
      >S0100212 Ф2. Звіт про фінансові результати (в тисячах).pdf</a
    >
  </p>
</article>
<article class="shadow m-3 p-3">
  <h5>за IIІ квартал 2015 року:</h5>
  <p>
    <a href="docs/finances/2015/S0100112_3kv.pdf"
      >S0100112 Ф1. Баланс.pdf</a
    >
  </p>
  <p>
    <a href="docs/finances/2015/S0100212_3kv.pdf"
      >S0100212 Ф2. Звіт про фінансові результати (в тисячах).pdf</a
    >
  </p>
</article>
<article class="shadow m-3 p-3">
  <h5>за І півріччя 2015 року:</h5>
  <p>
    <a href="docs/finances/2015/S0100112_1p.pdf"
      >S0100112 Ф1. Баланс.pdf</a
    >
  </p>
  <p>
    <a href="docs/finances/2015/S0100212_1p.pdf"
      >S0100212 Ф2. Звіт про фінансові результати (в тисячах).pdf</a
    >
  </p>
</article>
<article class="shadow m-3 p-3">
  <h5>за І квартал 2015 року:</h5>
  <p>
    <a href="docs/finances/2015/S0100112.pdf"
      >S0100112 Ф1. Баланс.pdf</a
    >
  </p>
  <p>
    <a href="docs/finances/2015/S0100212.pdf"
      >S0100212 Ф2. Звіт про фінансові результати (в тисячах).pdf</a
    >
  </p>
</article>
<article class="shadow m-3 p-3">
  <h5>за 2014 рік:</h5>
  <p>
    <a href="docs/finances/2014/S0100112.pdf"
      >S0100112 Ф1. Баланс.pdf</a
    >
  </p>
  <p>
    <a href="docs/finances/2014/S0100212.pdf"
      >S0100212 Ф2. Звіт про фінансові результати (в тисячах).pdf</a
    >
  </p>
  <p>
    <a href="docs/finances/2014/S0100308.pdf"
      >S0100308 Ф3. Звiт про рух грошових коштiв (за прямим методом).pdf</a
    >
  </p>
  <p>
    <a href="docs/finances/2014/S0104007.pdf"
      >S0104007 Ф4. Звіт про власний капітал.pdf</a
    >
  </p>
  <p>
    <a href="docs/finances/2014/S0105006.pdf"
      >S0105006 Ф5. Примітки до річної звітності.pdf</a
    >
  </p>
</article>
