<article class="shadow m-3 p-3">
  <h3 class="text-center">В.О.ДИРЕКТОРА</h3>
  <!-- <img class="w-100" src="images/boss.PNG" alt=""/> -->
</article>
<article class="shadow m-3 p-3">
  <h5>БІОГРАФІЧНА ДОВІДКА</h5>
  <p>
    САМАРУК НАТАЛІЯ ОЛЕКСАНДРІВНА – в.о.директора державного підприємства
    “Волинський експертно — технічний центр Держпраці”.
  </p>
  <p>
    Народилася 23 лютого 1980 року в м. Луцьк Волинської області. Громадянка
    України.
  </p>
  <p>
    В 2003 році закінчила Національну академію внутрішніх справ України м. Київ,
    здобула повну вищу юридичну освіту за спеціальністю «Правознавство».
  </p>
  <p>
    З 2003 по 2007 рік працювала юрисконсультом ДП «Луцький військторг №51».
  </p>
  <p>З 2007 по 2011 рік працювала юрисконсультом військової частини А3186.</p>
  <p>З 2011 по листопад 2019 року – юрисконсульт ДП «Волинський ЕТЦ».</p>
  <p>З 2019 по січень 2021року – заступник директора ДП «Волинський ЕТЦ».</p>
  <p>З 05 січня 2021 року призначена в.о.директора ДП «Волинський ЕТЦ».</p>
</article>
<article class="shadow m-3 p-3">
  <h5>Структура, принципи формування і розмір винагороди директора</h5>
  <p>
    Заробітна плата директора підприємства складається з посадового окладу, що
    встановлюється Контрактом та премій і матеріальних винагород, відповідно до
    Наказу міністерства соціальної політики України від 06.06.2017 року № 940
    «Про преміювання та матеріальну винагороду керівників державних підприємств,
    що належать до сфери управління Державної служби України з питань праці».
  </p>
</article>
