<article class="shadow m-3 p-3">
  <img class="w-100" src="images/boss.png" alt=""/>
</article>
  <article class="shadow m-3 p-3">
    <h5>
    БІОГРАФІЧНА ДОВІДКА
  </h5>
  <p>
    Міцевський Андрій Петрович - директор Державного підприємства “Волинський
    експертно — технічний центр Держпраці”.
  </p>
  <p>
    Народився 09 лютого 1986 року в смт. Маневичі Волинської області. Громадянин
    України.
  </p>
  <p>
    В 2008 році закінчив Івано-Франківський національний технічний університет
    нафти і газу, здобув повну вищу освіту за спеціальністю «Технологія і
    устаткування відновлення та підвищення зносостійкості машин і конструкцій»,
    кваліфікація: інженер-механік.
  </p>
  <p>
    Загальний стаж роботи 12 років.
  </p>
  <p>
    З 05.11.2008р. працював провідним інженером ДП “Волинський ЕТЦ ННДІПБОП”.
  </p>
  <p>
    В 2009 році пройшов навчання в ДП «ГНМЦ» за напрямком: «експерт технічний з
    проведення технічного огляду та/або експертного обстеження
    вантажопідіймальних кранів, ліфтів, підйомників, ескалаторів, атракціонів».
  </p>
  <p>
    З 23.10.2009р. переведений на посаду експерта технічного ДП “Волинський ЕТЦ
    ННДІПБОП”.
  </p>
  <p>
    З 02.03.2015р. призначений начальником відділу Державного підприємства
    “Волинський експертно-технічний центр Держгірпромнагляду України”. З
    11.09.2015р. по даний час - директор Державного підприємства “Волинський
    експертно — технічний центр Держпраці”.
  </p>
  <p>
    В 2017 році пройшов навчання в ДП «ГНМЦ» за напрямком: «право на проведення
    експертного обстеження (аудиту) систем управління охороною праці суб’єкта
    господарювання».
  </p>
</article>
<article class="shadow m-3 p-3">
  <h5>
    Структура, принципи формування і розмір винагороди директора
  </h5>
  <p>
    Заробітна плата директора підприємства складається з посадового окладу, що
    встановлюється Контрактом та премій і матеріальних винагород, відповідно до
    Наказу міністерства соціальної політики України від 06.06.2017 року № 940
    «Про преміювання та матеріальну винагороду керівників державних підприємств,
    що належать до сфери управління Державної служби України з питань праці».
  </p>
</article>
