<%- include("units") %>

<article class="shadow  m-3 p-3">
  <h5>ПОСИЛАННЯ</h5>
  <div class="row d-flex">
    <div class="col-sm-4">
      <a href="http://dsp.gov.ua/">
        <img class="img-fluid m-3 img-thumbnail" src="images/dsp.jpg" alt="" />
      </a>
      <a href="http://lutsk.dsp.gov.ua/">
        <img
          class="img-fluid m-3 img-thumbnail"
          src="images/lutsk.dsp.jpg"
          alt=""
        />
      </a>
    </div>
    <div class="col-sm-4">
      <h5 class="d-flex" style="align-items: center; height: 50%;">
        <a href="https://sites.google.com/view/undeclared-work">
          ПОВІДОМИТИ ПРО НЕЗАДЕКЛАРОВАНУ ПРАЦЮ</a
        >
      </h5>
      <a href="https://pravo.minjust.gov.ua/ua">
        <img
          class="img-fluid m-3 img-thumbnail"
          src="https://pravo.minjust.gov.ua/dist/images/logo_ua.png"
          alt=""
        />
      </a>
    </div>
    <div class="col-sm-4 text-right">
      <a href="https://www.kmu.gov.ua/">
        <img
          class="img-fluid m-3 img-thumbnail"
          src="http://lutsk.dsp.gov.ua/wp-content/uploads/2017/11/2.jpg"
          alt=""
        />
      </a>
      <a href="https://naau.org.ua/">
        <img class="img-fluid m-3 img-thumbnail" src="images/NAUU.jpg" alt="" />
      </a>
      <a href="https://www.rada.gov.ua/">
        <img
          class="img-fluid m-3 img-thumbnail"
          src="http://lutsk.dsp.gov.ua/wp-content/uploads/2017/11/3-1.jpg"
          alt=""
        />
      </a>
    </div>
  </div>
</article>
