<style>
  article {
    position: relative;
    overflow: hidden;
  }

  .publication-date {
    /* margin: 16px; */
    position: absolute;
    right: 0;
    top: 0;

    width: 250px;
    padding: 0.5rem;
    transform: rotateZ(30deg) translate(50px);
    z-index: 1;
    text-align: center;
    background-color: rgba(173, 216, 230, 0.5);
  }
</style>

<script>
  $(() => $(".more-info").hide());

  const showHideNews = (elm) => {
    const next = elm.parent().next();
    if (elm.html() == "Більше")
      next.fadeIn().addClass("visible"), elm.html("Згорнути");
    else next.fadeOut().removeClass("visible"), elm.html("Більше");
  };
</script>

<article class="row shadow d-flex align-items-center m-3 p-3">
  <div class="publication-date">16.03.2020</div>
  <div class="col-md-4">
    <img
      class="img-fluid"
      src="images/news/news-covid.jpg"
      alt=""
      style="max-width: 300px;"
    />
  </div>
  <div class="col-md-8">
    <h5>ШАНОВНІ КЛІЄНТИ ТА ВІДВІДУВАЧІ</h5>
    <p>
      Відповідно до постанови КМУ від 11.03.2020 року «Про запобігання поширенню
      на території України коронавірусу COVID-19», в зв’язку з запровадженням на
      всій території України КАРАНТИНУ та з врахуванням рішення Луцької міської
      ради від 16.03.2020 року, просимо Вас, на весь період запровадження
      карантину, максимально обмежити відвідування підприємств, установ та
      організацій нашого міста...
      <a class="text-primary" onclick="showHideNews($(this))">Більше</a>
    </p>

    <p class="more-info">
      Державне підприємство «Волинський експертно-технічний центр Держпраці»
      працюватиме у безконтактному режимі з дистанційним способом
      обслуговування, а саме: 1. Роз’яснення та інформація клієнтам
      надаватимуться фахівцями підприємства в телефонному режимі телефони для
      зв’язку: (0332) 78-81-99 та (0332) 71-14-21, моб. 0675337377 та 0503748050
      адміністрація та експерти (0332) 28-49-69 санітарна лабораторія,
      0673340580 відділ навчання 2. Всі звернення, листи та заявки на надання
      послуг приймаються виключно електронною поштою на електронну скриньку:
      22vetc@gmail.com а також поштовими засобами зв’язку на адресу: 43026, м.
      Луцьк, вул. Кравчука,22В 3. Якщо отримання оригіналів документів для Вас
      не є терміновим, просимо звертатись до нас після скасування карантину. 4.
      Якщо все таки, Ви плануєте відвідати наше підприємство для отримання
      документів (договорів, висновків, посвідчень, актів наданих послуг, листів
      тощо), просимо завчасно попереджати нас по телефону, щоб не чекати друку
      документів а отримувати вже підготовлений комплект. Дякуємо за розуміння,
      бережіть себе та будьте здорові !!! З повагою адміністрація ДП «Волинський
      ЕТЦ»
    </p>
  </div>
</article>
<article class="row shadow d-flex align-items-center m-3 p-3">
  <div class="publication-date">28.02.2020</div>
  <div class="col-md-4">
    <img
      class="img-fluid"
      src="images/news/news-0.jpg"
      alt=""
      style="max-width: 300px;"
    />
  </div>
  <div class="col-md-8">
    <h5>ДО УВАГИ СУБ’ЄКТІВ ГОСПОДАРЮВАННЯ!!!</h5>
    <p>
      Сьогодні, 28 лютого 2020 року державне підприємство «Волинський
      експертно-технічний центр Держпраці» отримало атестат про акредитацію
      відповідно до вимог ДСТУ EN ISO/IEC 17020:2014 в сфері інспектування та
      запрошує всіх до співпраці!!!
    </p>
  </div>
</article>

<article class="row shadow d-flex align-items-center m-3 p-3">
  <div class="publication-date">24.04.2019</div>
  <div class="col-md-4">
    <img class="img-fluid" src="images/news/news-1.jpg" alt="" />
  </div>
  <div class="col-md-8">
    <h5>УРОЧИСТІ ЗБОРИ З НАГОДИ ВСЕСВІТНЬОГО ДНЯ ОХОРОНИ ПРАЦІ</h5>
    <p>
      Сьогодні, 24 квітня 2019 року відбулися урочисті збори з нагоди
      Всесвітнього дня охорони праці. У заході взяли участь представники
      Федерації профспілок області, Управління Держпраці у Волинській області,
      ДП «Волинський експертно-технічний центр Держпраці», представники міської
      влади, ветерани в сфері охорони праці та інші.
    </p>
  </div>
</article>

<article class="row shadow d-flex align-items-center m-3 p-3">
  <div class="publication-date">19.04.2019</div>
  <div class="col-md-4">
    <img class="img-fluid" src="images/news/news-2.jpg" alt="" />
  </div>
  <div class="col-md-8">
    <h5>ГЕНЕРАЛЬНЕ ПРИБИРАННЯ ДО ВЕЛИКОДНІХ СВЯТ</h5>
    <p>
      Сьогодні, 19 квітня 2019 року працівники Волинського експертно-технічного
      центру Держпраці вийшли на генеральне прибирання до Великодніх свят. На
      прилеглій до адмінбудівлі території прибрали післязимове сміття, побілили
      дерева.
    </p>
  </div>
</article>
<article class="row shadow d-flex align-items-center m-3 p-3">
  <div class="publication-date">28.04.2019</div>
  <div class="col-md-4">
    <img class="img-fluid" src="images/news/news-3.jpg" alt="" />
  </div>
  <div class="col-md-8">
    <h5>ОХОРОНА ПРАЦІ НА РОБОТІ МАЙБУТНЬОГО</h5>
    <p>
      В рамках підготовки до Всесвітнього дня охорони праці фахівці ДП
      “Волинський експертно-технічний центр Держпраці” завітали на урок до учнів
      1 Г класу Луцької гімназії №4 імені Модеста Левицького. В доступній та
      цікавій формі поспілкувалися з дітьми щодо охорони праці на роботі
      майбутнього. Обговорили основні ризики, які можуть виникати на робочому
      місці представників різних професій та можливості їх уникнення.
    </p>
  </div>
</article>
<article class="row shadow d-flex align-items-center m-3 p-3">
  <div class="publication-date">09.04.2019</div>
  <div class="col-md-4">
    <img class="img-fluid" src="images/news/news-4.jpg" alt="" />
  </div>
  <div class="col-md-8">
    <h5>АТРАКЦІОНИ У ЛУЦЬКОМУ ПАРКУ ГОТОВІ ДО РОБОТИ</h5>
    <p>
      Фахівці державного підприємства “Волинський експертно-технічний центр
      Держпраці” перед початком сезону провели технічний огляд атракціонів, що
      знаходяться у Центральному парку культури та відпочинку. Наразі у робочому
      стані перебуває 13 атракціонів. Хоча деякі з них виготовлені у 80-х роках,
      але після заміни та відновлення окремих деталей продовжать тішити лучан.
      Експерти технічні Анатолій Мокіч та Юрій Камець перевірили стан гальмівних
      систем та болтових з’єднань, електрообладнання, кріплення
      металоконструкцій, контури заземлення та пульти управління атракціонів.
    </p>
  </div>
</article>
