<article class="shadow m-3 p-3">
    <h5>
      ДІЯЛЬНІСТЬ ОРГАНУ З ІНСЕКТУВАННЯ
    </h5>
    <ul>
      <li><a href="docs/Атестат про акредитацію merged.pdf">Атестат про акредитацію</a></li>
      <li><a href="docs/витяг з методики merged.pdf">витяг з методики</a></li>
      <li><a href="docs/ДЕКЛАРАЦІЯ ПРО КОНФІДЕНЦІЙНІСТЬ ОІ 01022021 merged.pdf">ДЕКЛАРАЦІЯ ПРО КОНФІДЕНЦІЙНІСТЬ ОІ 01022021</a></li>
      <li><a href="docs/ДЕКЛАРАЦІЯ ПРО НЕУПЕРЕДЖЕНІСТЬ ОІ 01022021 merged.pdf">ДЕКЛАРАЦІЯ ПРО НЕУПЕРЕДЖЕНІСТЬ ОІ 01022021</a></li>
      <li><a href="docs/ПОЛІТИКА У СФЕРІ ЯКОСТІ ОІ 01022021 merged.pdf">ПОЛІТИКА У СФЕРІ ЯКОСТІ ОІ 01022021</a></li>
    </ul>
  </article>
  