<article class="shadow m-3 p-3">
  <h5>
    ДОЗВОЛИ ТА ЛІЦЕНЗІЇ
  </h5>
  <ul>
    <li><a href="docs/Атестат про акредитацію merged.pdf">Атестат про акредитацію</a></li>
    <li><a href="docs/Дозвіл 401830 merged.pdf">Дозвіл на виконання робіт підвищеної небезпеки</a></li>
    <li><a href="docs/сертифікат про відповідність санітарна лабораторія merged.pdf">Сертифікат про відповідність санітарної лабораторії</a></li>
    <li><a href="docs/Свідоцтво про відповідність merged.pdf">Свідоцтво про відповідність</a></li>
    <li><a href="docs/сертифікат ISO merged.pdf">сертифікат ISO</a></li>
    <li><a href="docs/Декларація по навчанню merged.pdf">Декларація по навчанню</a></li>
    
    <li><a href="docs/Статут merged.pdf">Статут</a></li>
    <li>
      Старі редакції статутів <br>
      <a href="docs/Статут 09.2017 merged.pdf">Статут 09.2017</a><br>
      <a href="docs/Статут 11.2019 merged.pdf">Статут 11.2019</a><br>
    </li>

  </ul>
</article>
