<article class="shadow m-3 p-3">
  <h5>Закони України</h5>
  <p>
    <a href="http://zakon5.rada.gov.ua/laws/main/2694-12">Про охорону праці</a>
  </p>
  <p>
    <a href="http://zakon5.rada.gov.ua/laws/main/2245-14"
      >Про об'єкти підвищеної небезпеки</a
    >
  </p>
  <p>
    <a href="http://zakon5.rada.gov.ua/laws/show/4004-12"
      >Про забезпечення санітарного та епідемічного благополуччя населення</a
    >
  </p>
  <p>
    <a href="http://zakon5.rada.gov.ua/laws/show/1314-18"
      >Про метрологію та метрологічну діяльність</a
    >
  </p>
  <p>
    <a href="http://zakon5.rada.gov.ua/laws/show/124-19"
      >Про технічні регламенти та оцінку відповідності</a
    >
  </p>
  <p>
    <a href="http://zakon5.rada.gov.ua/laws/main/1105-14"
      >Про загальнообов’язкове державне соціальне страхування</a
    >
  </p>
</article>
<article class="shadow m-3 p-3">
  <h5>Постанови і розпорядження Кабінету Міністрів України</h5>
  <p>
    <a href="">
      Постанова N 1107 від 26 жовтня 2011 р. Про затвердження Порядку видачі
      дозволів на виконання робіт підвищеної небезпеки та на експлуатацію
      (застосування) машин, механізмів, устатковання підвищеної небезпеки
    </a>
  </p>
  <p>
    <a href="http://zakon5.rada.gov.ua/laws/show/8-2010-%D0%BF"
      >Постанова N 8 від 6 січня 2010 р. Про затвердження Порядку відомчої
      реєстрації та ведення обліку великотоннажних та інших технологічних
      транспортних засобів
    </a>
  </p>
  <p>
    <a href="http://zakon5.rada.gov.ua/laws/show/687-2004-%D0%BF"
      >Постанова N 687 від 26 травня 2004 р. Про затвердження Порядку проведення
      огляду, випробування та експертного обстеження (технічного діагностування)
      машин, механізмів, устатковання підвищеної небезпеки
    </a>
  </p>
  <p>
    <a href="http://zakon5.rada.gov.ua/laws/show/1251-2009-%D0%BF"
      >Постанова N 1251 від 4 листопада 2009 р. Про затвердження Порядку
      визначення граничного розміру тарифу на проведення експертизи стану
      безпеки промислового виробництва суб'єкта господарювання
    </a>
  </p>
  <p>
    <a href="http://zakon5.rada.gov.ua/laws/show/442-92-%D0%BF"
      >Постанова N 442 від 1 серпня 1992 р. Про Порядок проведення атестації
      робочих місць за умовами праці
    </a>
  </p>
</article>
<article class="shadow m-3 p-3">
  <h5>Накази</h5>

  <p>
    <a href="http://zakon5.rada.gov.ua/laws/show/z0311-07"
      >Наказ N 55 від 21.03.2007 Про затвердження Типового положення про комісію
      з питань охорони праці підприємства
    </a>
  </p>
  <p>
    <a href="http://zakon5.rada.gov.ua/laws/show/z1526-04"
      >Наказ N 255 від 15.11.2004 Про затвердження Типового положення про службу
      охорони праці</a
    >
  </p>
  <p>
    <a href="http://zakon5.rada.gov.ua/laws/show/z0163-10"
      >Наказ N 9 від 27.01.2010 Про затвердження Порядку проведення державного
      технічного огляду великотоннажних та інших технологічних транспортних
      засобів</a
    >
  </p>
  <p>
    <a href="http://zakon5.rada.gov.ua/laws/show/z1247-07"
      >Наказ N 195 від 03.09.2007 Про затвердження Вимог до спеціалізованих та
      експертних організацій, передбачених постановою Кабінету Міністрів України
      від 26.05.2004 N 687
    </a>
  </p>
  <p>
    <a href="http://zakon5.rada.gov.ua/laws/show/z0103-07"
      >Наказ N 16 від 20.12.2006 Про затвердження Порядку атестації фахівців,
      які мають право проводити технічний огляд та/або експертне обстеження
      устаткування підвищеної небезпеки
    </a>
  </p>
  <p>
    <a href="http://zakon5.rada.gov.ua/laws/show/z0226-98"
      >Наказ N 9 від 29.01.98 Про затвердження Положення про розробку інструкцій
      з охорони праці
    </a>
  </p>
  <p>
    <a href="http://zakon5.rada.gov.ua/laws/show/z0446-08"
      >Наказ N 53 від 24.03.2008 Про затвердження Положення про порядок
      забезпечення працівників спеціальним одягом, спеціальним взуттям та іншими
      засобами індивідуального захисту
    </a>
  </p>
  <p>
    <a href="http://zakon5.rada.gov.ua/laws/show/z0020-94"
      >Наказ N 132 від 21.12.93 Про Порядок опрацювання і затвердження власником
      нормативних актів про охорону праці, що діють на підприємстві
    </a>
  </p>
</article>
<article class="shadow m-3 p-3">
  <h5>НПАОП</h5>
  <p>
    <a href="http://zakon2.rada.gov.ua/laws/show/z0674-15#n15"
      >НПАОП 0.00-1.76-15 Правила безпеки систем газопостачання</a
    >
  </p>
  <p>
    <a href="http://zakon2.rada.gov.ua/laws/show/z0573-07"
      >НПАОП 0.00-1.15-07 Правила охорони праці під час виконання робіт на
      висоті</a
    >
  </p>
  <p>
    <a href="http://zakon3.rada.gov.ua/laws/show/z0252-15"
      >Правила пожежної безпеки в Україні</a
    >
  </p>
  <p>
    <a href=""
      >ДБН А.3.2-2-2009 Система стандартів безпеки праці. Промислова безпека у
      будівництві.</a
    >
  </p>
  <p><a href="">ДБН В.2.5-77-2014 Котельні</a></p>
  <p>
    <a href=""
      >НПАОП 40.1-1.32-01 Правила будови електроустановок. Електрообладнання
      спеціальних установок</a
    >
  </p>
  <p>
    <a href="http://zakon3.rada.gov.ua/laws/show/z0306-05"
      >НПАОП 20.0-1.02-05 Правила охорони праці в деревообробній
      промисловості</a
    >
  </p>
  <p>
    <a href=""
      >НПАОП 02.0-1.04-05 Правила охорони праці для працівників лісового
      господарства та лісової промисловості</a
    >
  </p>
  <p>
    <a href=""
      >НПАОП 27.5-1.46-14 Правила охорони праці у ливарному виробництві</a
    >
  </p>
  <p>
    <a href=""
      >НПАОП 21.0-1.01-87 Правила по охороні праці в целюлозно-паперової
      промисловості</a
    >
  </p>
  <p>
    <a href=""
      >ДНАОП 0.00-1.03-02 Правила будови і безпечної експлуатації
      вантажопідіймальних кранів</a
    >
  </p>
  <p>
    <a href=""
      >НПАОП 0.00-1.60-66 Правила будови і безпечної експлуатації парових та
      водогрійних котлів</a
    >
  </p>
  <p>
    <a href=""
      >НПАОП 0.00-1.59-87. Правила безпеки і безпечної експлуатації посудин, що
      працюють під тиском
    </a>
  </p>
  <p>
    <a href="http://zakon0.rada.gov.ua/laws/show/z1262-03"
      >НПАОП 0.00-1.36-03Правила будови і безпечної експлуатації підйомників</a
    >
  </p>
  <p>
    <a href="http://zakon0.rada.gov.ua/laws/show/z0636-98"
      >НПАОП 0.00-1.11-98 Про затвердження Правил будови і безпечної
      експлуатації трубопроводів пари та гарячої води
    </a>
  </p>
</article>
