<article class="shadow m-3 p-3">
  <h5>
    ОПИС ІСТОТНИХ ФАКТОРІВ РИЗИКІВ
  </h5>
  <p>
    Основним ризиком, що впливає на економічну та фінансову діяльність
    підприємства, є нестабільність законодавства, прийняття нормативно-правових
    актів, що істотно зменшують перелік послуг, які надавались підприємством.
  </p>
  <p>
    З метою оптимізації діяльності та усунення негативних наслідків підприємство
    запроваджує нові види послуг. ДП «ВЕТЦ» діє відповідно до затвердженого
    Фінансового плану підприємства. Здійснює контроль за наявною кредиторською
    та дебіторською заборгованістю, в разі необхідності, проводить
    претензійно-позовну роботу.
  </p>
  <p>
    Робота ДП «ВЕТЦ» безпосередньо не пов’язана з навколишнім середовищем, тому
    вплив екологічних ризиків практично відсутній.
  </p>
</article>
