<article class="shadow m-3 p-3">
  <h5>САНІТАРНА ЛАБОРАТОРІЯ</h5>

  <p>
    Санітарна лабораторія ДП «Волинський ЕТЦ» проводить санітарно-гігієнічні
    дослідження факторів виробничого середовища і трудового процесу на робочих
    місцях, з метою атестації робочих місць, має відповідну нормативно-правову
    та сучасну матеріально - технічну базу.
  </p>

  <p>
    Санітарна лабораторія має право досліджувати наступні фактори виробничого
    середовища та трудового процесу:
  </p>

  <ul>
    <li>аналіз повітря робочої зони (хімічне забруднення, запиленість);</li>

    <li>
      виміри параметрів мікроклімату (температура, вологість, швидкість повітря,
      інфрачервоне випромінювання);
    </li>

    <li>виміри еквівалентного шуму (еквівалентний рівень звуку);</li>

    <li>виміри вібрації (загальна, локальна та імпульсна);</li>

    <li>визначення важкості і напруженості праці.</li>
  </ul>
  <p>
    В складі санітарної лабораторії працюють висококваліфіковані спепціалісти:
    завідувач санітарної лабораторії, провідний хімік, хімік І категорії, лікар
    з гігієни праці.
  </p>
  <p>Завідувач санітарної лабораторії Петрочук Лідія Григорівна</p>

  <p>43026, м. Луцьк, вул. Кравчука, 22В</p>
  <p>тел. (0332) 28-49-69; 78-81-99;</p>
  <p>E-mail: 22vetc@gmail.com</p>
</article>
