<style>
  article .steps {
    max-width: 1200px;
    margin: 16px auto;
  }

  article .steps div div {
    margin: 32px;
    color: rgb(0, 92, 134);
  }
</style>
<article
  class="a-steps shadow m-3 p-3"
  style="background-color: rgb(180, 216, 230);"
>
  <h5>
    ДЛЯ СПІВПРАЦІ З НАМИ НЕОБХІДНО
  </h5>

  <div class="steps row text-center">
    <div class="col-md-4">
      <div>
        <b> Крок 1</b><br />
        Виберіть вид послуг та скачайте заяву на надання послуг
      </div>
    </div>
    <div class="col-md-4">
      <div>
        <b> Крок 2</b><br />
        Заповніть заяву та відправте її на нашу електронну сткриньку<br />
        22vetc@gmail.com<br />
        vetc@meta.ua<br />
      </div>
    </div>
    <div class="col-md-4">
      <div>
        <b> Крок 3</b><br />
        Ми розрахуємо вартість послуг і укладемо з вами договір про їх надання.
      </div>
    </div>
  </div>
</article>

<article class="row shadow m-3 p-3">
  <h5>
    ДЕРЖАВНЕ ПІДПРИЄМСТВО "ВОЛИНСЬКИЙ ЕКСПЕРТНО-ТЕХНІЧНИЙ ЦЕНТР" ПРОВОДИТЬ ТАКІ
    ВИДИ РОБІТ І НАДАЄ НАСТУПНІ ПОСЛУГИ:
  </h5>

  <ul>
    <li>
      Експертне обстеження підприємств, установ та організацій та інших
      суб'єктів господарювання щодо додержання вимог законодавства з питань
      охорони праці та промислової безпеки під час виконання робіт підвищеної
      небезпеки та експлуатації (застосування) машин, механізмів, устатковання
      підвищеної небезпеки.
      <a href="docs/Заява на проведення робіт Ф1. МСУЯ.18.docx">Бланк заяви</a>
    </li>
    <li>
      Технічний огляд, випробування, експертне обстеження (технічне
      діагностування) машин, механізмів, устатковання підвищеної небезпеки.
      <a href="docs/Заява загальна.doc">Бланк заяви</a>
    </li>
    <li>
      Державний технічний огляд технологічних транспортних засобів.
      <a href="docs/Заява на технічний огляд та реєстрацію транспорту.doc"
        >Бланк заяви</a
      >
    </li>
    <li>
      Неруйнівний контроль металу та зварних з'єднань (візуально-оптичний, VT,
      магніто-порошковий МТ, капілярний РТ, ультразвуковий UT).
      <a href="docs/Заява загальна.doc">Бланк заяви</a>
    </li>
    <li>
      Проведення електровимірювальних робіт та робіт з технічного опосвідчення
      та/або експертного обстеження електрообладнання.
      <a href="docs/Заява на проведення електровимірів.doc">Бланк заяви</a>
    </li>
    <li>
      Навчання з питань охорони праці.
      <a href="docs/Заява на проведення навчання.doc">Бланк заяви</a>
    </li>
    <li>
      Проведення досліджень небезпечних та шкідливих виробничих факторів з метою
      атестації робочих місць.
      <a href="docs/Заява на проведення санітарно-гігієнічних досліджень.doc"
        >Бланк заяви</a
      >
    </li>
    <li>
      Складання паспортів на обладнання підвищеної небезпеки.
      <a href="docs/Заява загальна.doc">Бланк заяви</a>
    </li>
    <li>
      Виконання робіт щодо ідентифікації, розробки та експертизи проектів
      декларацій об'єктів підвищеної небезпеки.
      <a href="docs/Заява загальна.doc">Бланк заяви</a>
    </li>
    <li>
      Хімічний аналіз металу об'єктів підвищеної небезпеки (кранів, ліфтів,
      підйомників, котлів, посудин, що працюють під тиском).
      <a href="docs/Заява загальна.doc">Бланк заяви</a>
    </li>
    <li>
      Випробування статичним навантаженням поясів запобіжних, канатів
      страхувальних, строп різного виду, переносних драбин та стремянок.
      <a href="docs/Заява загальна.doc">Бланк заяви</a>
    </li>
    <li>
      Випробування на граничний тиск спрацювання клапанів запобіжних.
      <a href="docs/Заява загальна.doc">Бланк заяви</a>
    </li>
    <li>
      Технічна експертиза стану машин, механізмів, устатковання у тому числі
      тих, що закуповують за кордоном на відповідність нормативним актам з
      охорони праці.
      <a href="docs/Заява загальна.doc">Бланк заяви</a>
    </li>
    <li>
      Обстеження технічного стану будівель і споруд та їх паспортизація.
      <a href="docs/Заява загальна.doc">Бланк заяви</a>
    </li>
    <li>
      Розробка документів та документальний супровід оформлення декларації
      відповідності матеріально-технічної бази вимогам законодавства з питань
      охорони праці.
      <a href="docs/Заявка на оформлення декларації.doc">Бланк заяви</a>
    </li>
    <li>
      Аудит стану охорони праці.
      <a href="docs/Заява загальна.doc">Бланк заяви</a>
    </li>
  </ul>
</article>
