<article class="shadow m-3 p-3">
  <h5>ВИПРОБУВАЛЬНА ЛАБОРАТОРІЯ</h5>
  <ul>
    <li>
      Неруйнівний та руйнівний контроль будівельних конструкцій та матеріалів;
    </li>

    <li>
      Неруйнівний контроль металу та зварних з'єднань (візуально-оптичний, VT,
      магніто-порошковий МТ, капілярний РТ, ультразвуковий UT).
    </li>

    <li>
      Хімічний аналіз металу об'єктів підвищеної небезпеки (кранів, ліфтів,
      підйомників, котлів, посудин, що працюють під тиском).
    </li>

    <li>
      Випробування статичним навантаженням поясів запобіжних, канатів
      страхувальних, строп різного виду, переносних драбин та стремянок.
    </li>

    <li>
      Випробування на граничний тиск спрацювання клапанів запобіжних.
    </li>
  </ul>
  <p>Начальник впиробувальної лабораторії Кухарчук Віталій Володимирович</p>
  <p>43026, м. Луцьк, вул. Кравчука, 22В</p>
  <p>тел. (0332) 78-81-99; 78-03-72</p>
  <p>E-mail: vetc@meta.ua</p>
</article>
