<article class="units shadow m-3 p-3">
  <h5>ВІДДІЛИ ТА ЛАБОРАТОРІЇ</h5>
  <br />
  <div class="row">
    <div class="col-md-3 text-center">
      <a href="sanitary_laboratory"
        ><img
          class="rounded-circle m-3 p-3"
          style="width: 150px; height: 150px;"
          src="images/unit-1.jpg"
          alt=""
      /></a>
      <div>САНІТАРНА ЛАБОРАТОРІЯ</div>
    </div>

    <div class="col-md-3 text-center">
      <a href="testing_unit">
        <img
          class="rounded-circle m-3 p-3"
          style="width: 150px; height: 150px;"
          src="images/unit-2.png"
          alt=""
      /></a>
      <div>ВИПРОБУВАЛЬНА ЛАБОРАТОРІЯ</div>
    </div>

    <div class="col-md-3 text-center">
      <a href="education_unit"
        ><img
          class="rounded-circle m-3 p-3"
          style="width: 150px; height: 150px;"
          src="images/unit-3.png"
          alt=""
      /></a>
      <div>ВІДДІЛ НАВЧАННЯ</div>
    </div>

    <div class="col-md-3 text-center">
      <a href="expertise_unit"
        ><img
          class="rounded-circle m-3 p-3"
          style="width: 150px; height: 150px;"
          src="images/unit-4.jpg"
          alt=""
      /></a>
      <div>ВІДДІЛ ЕКСПЕТРИЗИ</div>
    </div>
  </div>
</article>

<style>
  .leaders img {
    transition: all ease-in-out 0.3s;
  }

  .leaders img:hover {
    filter: drop-shadow(0 0 16px rgba(0, 0, 0, 0.5));
  }

  .units img {
    transition: all ease-in-out 0.3s;
  }

  .units img:hover {
    filter: drop-shadow(0 0 16px rgba(15, 95, 200, 0.5));
  }
</style>

<article class="leaders shadow m-3 p-3">
  <h5>КЕРІВНИЦТВО</h5>
  <div class="row">
    <div class="col-md-4 text-center">
      <img
        class="rounded-circle m-3 p-3"
        style="width: 150px; height: 150px;"
        src="images/boss_rounded.PNG"
        alt=""
      />
      <div>ДИРЕКТОР</div>
      <div>
        Міцевський Андрій <br />
        Петрович
      </div>
    </div>
    <div class="col-md-4 text-center">
      <img
        class="rounded-circle m-3 p-3"
        src="images/heads_assistant_rounded.jpg"
        alt=""
        style="width: 150px; height: 150px;"
      />
      <div>ЗАСТУПНИК ДИРЕКТОРА</div>
      <div>Самарук Наталія Олександрівна</div>
    </div>
    <div class="col-md-4 text-center">
      <img
        class="rounded-circle m-3 p-3"
        src="images/accountant_rounded.JPG"
        alt=""
        style="width: 150px; height: 150px;"
      />
      <div>ГОЛОВНИЙ БУХГАЛТЕР</div>
      <div>Ярмошик Вікторія Костянтинівна</div>
    </div>
  </div>
</article>
